html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
  margin: 0;
  padding: 0;
}

.img-one {
  float: left;
  width: 40px;
  margin: .3em;
  padding: .5em 0 0;
}

.img-two {
  float: right;
  width: 40px;
  margin: .3em;
  padding: .5em 0 0;
}

h1 {
  text-align: center;
  margin: 0 0 .7rem;
  padding: .5em 0 0;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}

.nav {
  text-align: center;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid #a63f38;
  border-bottom: 1px solid #a63f38;
}

.nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav a {
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 1.125rem;
  color: #fff;
  padding: .4rem 0;
}

.nav li {
  display: inline-block;
  border-right: 1px solid #a63f38;
  width: calc(95% / 3);
  box-sizing: border-box;
}

.nav li:last-child {
  border-right: none;
}

.nav a:hover {
  background-color: #a63f38;
}
